html, body {
  font-family: Roboto, Arial;
  height: 100%;
  margin: 0;
  padding: 0;
}

#map {
  height: 100%;
}

#crosshair {
  height: 18px;
  left: 50%;
  position: fixed;
  top: 50%;
  transform: translate(-50%, -50%);
}

#main-nav-bar {
  align-items: center;
  display: flex;
  justify-content: space-evenly;
  left: 50%;
  position: fixed;
  top: 30px;
  transform: translate(-50%, 0);
  width: 600px;
  z-index: 1;
}

.pac-container {
  background-color: white;
  border-radius: 20px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.05);
  color: rgba(0, 0, 0, 0.5);
  margin-top: -28px;
  padding-top: 45px;
  position: fixed !important;
  width: 260px !important;
  z-index: 0;
}

.pac-container:after {
  background-image: none !important;
  height: 0px;
}

.pac-item {
  border: none;
  color: rgba(255, 255, 255, 0.5);
  padding-bottom: 7px;
  padding-left: 10px;
  padding-top: 7px;
  transition: background-color 0.2s;
}