/* ==========================
    Important Layout Styles 
  =========================== */
html, body {
  font-family: Roboto, Arial;
  height: 100%;
  margin: 0;
  padding: 0;
}

#side-bar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  width: 72px;
  background-color: white;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

#main-ui {
  position: relative;
  height: 100%;
  margin-left: 72px;
}

#map {
  position: absolute;
  inset: 0;
  height: 100%;
}

.gm-style iframe + div { border:none!important; }

#crosshair {
  position: absolute;
  height: 18px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

#main-nav-bar {
  align-items: center;
  column-gap: 10px;
  display: flex;
  justify-content: space-evenly;
  top: 12px;
  left: 86px;
  position: fixed;
  z-index: 1;
}

/* --------------------------------------------------
    This CSS code modifies the auto complete window
  --------------------------------------------------- */
  .pac-container {
    background-color: white;
    border-radius: 20px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.05);
    color: rgba(0, 0, 0, 0.5);
    margin-top: -38.5px;
    padding-top: 45px;
    position: fixed !important;
    width: 220px !important;
    z-index: 0;
  }

  .pac-container:after {
    background-image: none !important;
    height: 0px;
  }

  .pac-item {
    border: none;
    color: rgba(170, 170, 170, 0.5);
    padding-bottom: 7px;
    padding-left: 10px;
    padding-top: 7px;
    transition: background-color 0.2s;
  }


/* ===========================
    Navigation Button Styles 
  ============================ */
.nav-button {
  align-items: center;
  background-color: white;
  border: none;
  border-radius: 20px;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
  color: rgba(0, 0, 0, 0.5);
  cursor: pointer;
  display: flex;
  font-size: 14px;
  padding: 10px 14px;
  transition: color 0.3s;
}

.nav-button:hover {
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.06);
  color: rgba(0, 0, 0, 0.7);
}

.nav-button img {
  height: 18px;
  opacity: 0.5;
  transition: opacity 0.3s;
}

.nav-button:hover img {
  opacity: 0.7;
}

#show-gas-button {
  top: 100px;
  left: 50%;
  transform: translate(-50%, 0);
  position: absolute;
  display: none; /* start from invisible */
}
  

/* ====================
    Search Bar Styles 
  ===================== */
#search-div {
  display: flex;
  background-color: white;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
  border-radius: 140px;
  height: 50px;
  width: 300px;
  justify-content: space-between;
  align-items: center;
}

#search-bar {
  flex: 1;
  background-color: white;
  width: 120px;
  
  border: none;
  border-radius: 30px;
  outline: none !important;
  padding: 11px 20px;
  display: absolute;
  color: black;
  font-size: 14px;
  transition: color 0.3s;
}

#search-bar:hover::placeholder {
  color: rgba(0, 0, 0, 0.7);
}

#search-div .nav-button {
  box-shadow: 0 0 0 rgba(0, 0, 0, 0);
}

/* ===========================
    Side Bar Button Styles 
  ============================ */
.side-bar-button {
  color: rgba(0, 0, 0, 0.5);
  font-size: 12px;
  background-color: white;
  border: none;
  padding: 15px 5px;
  cursor: pointer;
}

.dropdown {
  position: relative;
}

#sort-options {
  position: absolute;
  top: 10px;
  left: 80px;
  display: none;
  background-color: white;
}

#sort-options.collapse {
  display: grid;
}

#sort-options button {
  border: none;
  cursor: pointer;
  background-color: white;
  padding: 3px 5px;
  border-bottom: rgba(0, 0, 0, 0.1) solid 1px;
}

#sort-options button:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

#sort-options button.active {
  background-color: rgba(0, 0, 0, 0.1);
}

#range-options {
  display: none;
  background-color: white;
  position: absolute;
  flex-direction: column;
  align-items: center;
  right: -28px;
  top: -12px;
}

#range-slider {
  height: 60px;
  writing-mode: vertical-rl;
}

#range-value {
  font-size: 12px;
}

#range-options.collapse {
  display: flex;
}