/* ======================
    Results Page Styles 
  ======================= */
#results-page {
  position: relative;
}

#results-list {
  background-color: white;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.05);
  left: 0;
  list-style-type: none;
  margin: 0;
  max-height: 92%;
  max-width: 330px;
  min-width: 330px;
  overflow-y: scroll;
  padding: 0;
  padding-top: 75px;
  margin-left: 72px;
  position: fixed;
  top: 0;
  bottom: 0;
  display: none;
  white-space: nowrap;
  transition: transform 0.3s ease;
  transform: translateX(0);
}

#results-list.collapse {
  transform: translateX(-100%);
}

#results-list::-webkit-scrollbar {
  width: 0;
}

#results-list li {
  padding: 10px 14px;
  border-top: solid rgba(0, 0, 0, 0.1) 1px;
}

#results-list li:hover {
  background-color: rgb(250, 250, 250); 
}

.hidden-info {
  color: rgb(49, 135, 255);
  margin-left: -5px;
  opacity: 0;
  transition: opacity 0.5s, margin-left 0.5s;
}

#results-list li:hover .hidden-info {
  margin-left: 5px;
  opacity: 1;
}

@media (max-width: 600px) {
  #results-list {
    padding: 0;
    margin: 0;
    left: 0;
    right: 0;
    bottom: 0;
    top: 60%;
    transition: none;
    max-width: none;
    min-width: none;
  }
}

@media (max-width: 1000px) {
  #results-list {
    padding: 0;
    left: 0;
    right: 0;
    bottom: 0;
    top: 60%;
    transition: none;
    max-width: none;
    min-width: none;
  }
}