/* ======================
    Results Page Styles 
  ======================= */
#results-tab {
  background-color: red;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  margin: 0;
  max-width: 330px;
  min-width: 330px;
  margin-left: 72px;
  transition: transform 0.3s ease;
  transform: translateX(0);
  display: none;
}

#results-list {
  background-color: white;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.05);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  list-style-type: none;
  padding: 0;
  margin: 0;
  padding-top: 75px;
  overscroll-behavior: none;
  
  overflow-y: scroll;
  white-space: nowrap;
  
}

#results-tab.collapse {
  transform: translateX(-100%);
}

#results-list::-webkit-scrollbar {
  width: 0;
}

#results-list li {
  padding: 10px 14px;
  border-top: solid rgba(0, 0, 0, 0.1) 1px;
}

#results-list li:hover {
  background-color: rgb(250, 250, 250); 
}

.hidden-info {
  color: rgb(49, 135, 255);
  margin-left: -5px;
  opacity: 0;
  transition: opacity 0.5s, margin-left 0.5s;
}

#results-list li:hover .hidden-info {
  margin-left: 5px;
  opacity: 1;
}

#toggle-results-button {
  position: absolute;
  height: 50px;
  width: 12px;
  padding: 0;
  background-color: white;
  border: solid 1px rgba(0, 0, 0, 0.1);
  border-top-right-radius: 7px;
  border-bottom-right-radius: 7px;
  top: 50%;
  transform: translate(0, -50%);
  left: 330px;
  box-shadow: 0 0 0 rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

#toggle-results-button div {
  background-color: rgba(0, 0, 0, 0.2);
  height: 25px;
  border: none;
  border-radius: 15px;
  width: 4px;
  margin-left: 3px;
}

@media (max-width: 600px) {
  #results-tab {
    margin: 0;
  }

  #toggle-results-button {
    top: -43px;
    border-bottom: none;
    height: 70px;
    width: 16px;
    left: 50%;

    transform: translate(-50%, 0);
    transform: rotateZ(-90deg);
  }

  #toggle-results-button div {
    height: 36px;
    width: 6px;
    margin-left: 4px;
  }
}

@media (max-width: 1000px) and (min-width: 601px) {
  #toggle-results-button {
    border-bottom: none;
    top: -30px;
    left: 50%;
    transform: translate(-50%, 0);
    transform: rotateZ(-90deg);
  }
}

@media (max-width: 1000px) {
  #results-tab {
    left: 0;
    right: 0;
    bottom: 0;
    top: 60%;
    max-width: none;
    min-width: none;
    transform: translateY(0);
  }

  #results-tab.collapse {
    transform: translateY(100%);
  }

  #results-list {
    padding: 0;
  }
}